In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_excel('Assignment 5.xlsx', 'Ratings', index_col=0)

In [7]:
data

,1: Toy Story (1995),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),260: Star Wars: Episode IV - A New Hope (1977),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),...,2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995),Mean
User,,,,,,,,,,,,,,,,,,,,,
755,2.00000,5.000000,2.000000,NaN,4.0000,4.000000,1.000000,2.000000,NaN,3.000000,...,NaN,5.00000,2.000000,5.000000,4.000000,2.000000,5.000000,NaN,NaN,3.200000
5277,1.00000,NaN,NaN,2.000000,4.0000,2.000000,5.000000,NaN,NaN,4.000000,...,2.00000,2.00000,NaN,2.000000,NaN,5.000000,1.000000,3.00000,NaN,2.769231
1577,NaN,NaN,NaN,5.000000,2.0000,NaN,NaN,NaN,NaN,1.000000,...,1.00000,4.00000,4.000000,1.000000,1.000000,2.000000,3.000000,1.00000,3.000000,2.333333
4388,2.00000,3.000000,NaN,NaN,NaN,1.000000,NaN,3.000000,4.000000,NaN,...,4.00000,NaN,3.000000,5.000000,NaN,5.000000,1.000000,1.00000,2.000000,2.833333
1202,NaN,3.000000,4.000000,1.000000,4.0000,1.000000,4.000000,4.000000,NaN,1.000000,...,1.00000,NaN,4.000000,NaN,3.000000,5.000000,5.000000,NaN,NaN,3.214286
3823,3.00000,4.000000,4.000000,4.000000,NaN,NaN,2.000000,1.000000,4.000000,4.000000,...,2.00000,4.00000,NaN,1.000000,NaN,NaN,3.000000,NaN,2.000000,3.071429
5448,NaN,NaN,3.000000,1.000000,1.0000,4.000000,4.000000,5.000000,2.000000,NaN,...,NaN,NaN,3.000000,NaN,1.000000,NaN,NaN,5.00000,2.000000,2.666667
5347,2.00000,NaN,NaN,NaN,3.0000,2.000000,4.000000,NaN,3.000000,NaN,...,2.00000,1.00000,2.000000,4.000000,NaN,1.000000,3.000000,5.00000,NaN,2.666667
4117,4.00000,1.000000,NaN,4.000000,2.0000,4.000000,5.000000,4.000000,NaN,1.000000,...,NaN,1.00000,NaN,5.000000,NaN,NaN,NaN,NaN,5.000000,3.166667
2765,4.00000,2.000000,NaN,5.000000,3.0000,NaN,4.000000,3.000000,4.000000,NaN,...,NaN,2.00000,NaN,NaN,2.000000,5.000000,1.000000,NaN,NaN,3.181818
5450,5.00000,1.000000,5.000000,NaN,NaN,5.000000,2.000000,NaN,NaN,NaN,...,3.00000,2.00000,NaN,NaN,1.000000,NaN,2.000000,1.00000,4.000000,2.818182
139,2.00000,5.000000,2.000000,NaN,NaN,NaN,3.000000,NaN,1.000000,NaN,...,NaN,3.00000,NaN,2.000000,5.000000,NaN,NaN,NaN,2.000000,2.800000
1940,4.00000,NaN,NaN,5.000000,4.0000,NaN,2.000000,5.000000,NaN,NaN,...,2.00000,4.00000,NaN,3.000000,NaN,NaN,NaN,5.00000,NaN,3.777778
3118,3.00000,NaN,3.000000,NaN,2.0000,NaN,3.000000,NaN,NaN,4.000000,...,1.00000,2.00000,2.000000,3.000000,5.000000,1.000000,NaN,NaN,NaN,2.636364
4656,2.00000,4.000000,NaN,NaN,5.0000,5.000000,4.000000,NaN,3.000000,5.000000,...,1.00000,3.00000,NaN,2.000000,NaN,3.000000,NaN,3.00000,1.000000,3.153846
4796,NaN,NaN,1.000000,NaN,3.0000,2.000000,NaN,2.000000,NaN,1.000000,...,NaN,2.00000,NaN,NaN,2.000000,2.000000,4.000000,3.00000,4.000000,2.583333
6037,2.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,...,NaN,3.00000,NaN,3.000000,4.000000,NaN,NaN,NaN,NaN,2.666667
3048,4.00000,5.000000,1.000000,5.000000,1.0000,1.000000,4.000000,NaN,5.000000,NaN,...,NaN,NaN,4.000000,NaN,NaN,2.000000,1.000000,2.00000,5.000000,3.076923
4790,2.00000,1.000000,3.000000,NaN,NaN,4.000000,5.000000,1.000000,3.000000,3.000000,...,1.00000,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,2.545455
4489,2.00000,2.000000,2.000000,4.000000,5.0000,NaN,1.000000,3.000000,2.000000,2.000000,...,NaN,4.00000,5.000000,5.000000,4.000000,3.000000,5.000000,3.00000,NaN,3.117647
L2,11.83216,11.661904,9.899495,12.409674,12.4499,11.357817,14.247807,10.908712,10.630146,9.949874,...,6.78233,11.74734,10.148892,12.529964,11.045361,11.661904,11.224972,10.86278,10.392305,NaN

In [8]:
r_data = data[0:-1]

In [10]:
from scipy.spatial.distance import squareform, pdist

In [19]:
sim = pd.DataFrame(squareform(pdist(r_data.fillna(0).T.ix[:, :])), columns=r_data.columns, index = r_data.columns)